<a href="https://colab.research.google.com/github/prolabfin/proyecto_code_challenge_pasantiasglobal/blob/main/proyecto1_datosv4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
# Utilizar Python o Java para escribir un script que simule la extracci√≥n de datos desde
#una fuente. Puede ser una API ficticia o un archivo CSV.

In [39]:
import pandas as pd
from io import StringIO

# Texto proporcionado
data = """transaction_id,product_name,quantity_sold,date_sold,price,store_location,user_agent
1001,Smartphone,2,2023-10-01,300,New York,\"Mozilla/5.0 (Android)\"
1002,Laptop,1,2023-10-02,800,Los Angeles,\"Mozilla/5.0 (Windows)\"
1002,Laptop,,2023-10-02,,,\"Mozilla/5.0 (Windows)\" # Registro duplicado con valores faltantes
1003,Headphones,5,2023-10-03,50,Chicago,\"Mozilla/5.0 (iOS)\"
1004,Smartwatch,3,2023-10-04,150,San Francisco,\"Mozilla/5.0 (Android)\"
1005,Tablet,2,2023-10-05,400,Boston,\"Mozilla/5.0 (macOS)\"
1006,Camera,1,2023-10-06,500,Miami,\"Mozilla/5.0 (Windows)\"
1007,Charger,10,2023-10-07,15,Seattle,\"Mozilla/5.0 (Linux)\"
1008,Mouse,4,2023-10-08,25,Dallas,\"Mozilla/5.0 (Android)\"
1009,Keyboard,3,2023-10-09,45,Houston,\"\"
1010,Monitor,2,2023-10-10,200,Philadelphia,\"Mozilla/5.0 (macOS)\""""

# Crear un DataFrame desde el texto utilizando StringIO para simular un archivo
df = pd.read_csv(StringIO(data))

# Mostrar el DataFrame
print(df)

    transaction_id product_name  quantity_sold   date_sold  price  \
0             1001   Smartphone            2.0  2023-10-01  300.0
1             1002       Laptop            1.0  2023-10-02  800.0
2             1002       Laptop            NaN  2023-10-02    NaN
3             1003   Headphones            5.0  2023-10-03   50.0
4             1004   Smartwatch            3.0  2023-10-04  150.0
5             1005       Tablet            2.0  2023-10-05  400.0
6             1006       Camera            1.0  2023-10-06  500.0
7             1007      Charger           10.0  2023-10-07   15.0
8             1008        Mouse            4.0  2023-10-08   25.0
9             1009     Keyboard            3.0  2023-10-09   45.0
10            1010      Monitor            2.0  2023-10-10  200.0

   store_location                                         user_agent
0        New York                              Mozilla/5.0 (Android)
1     Los Angeles                              Mozilla/5.0 (Windows)
2             NaN  Mozilla/5.0 (Windows) # Registro duplicado con...
3         Chicago                                  Mozilla/5.0 (iOS)
4   San Francisco                              Mozilla/5.0 (Android)
5          Boston                                Mozilla/5.0 (macOS)
6           Miami                              Mozilla/5.0 (Windows)
7         Seattle                                Mozilla/5.0 (Linux)
8          Dallas                              Mozilla/5.0 (Android)
9         Houston                                                NaN
10   Philadelphia                                Mozilla/5.0 (macOS)

Esta vez se utilizo la cadena de datos proporcionada en el ejercicio .

In [40]:
# Eliminar registros duplicados
df = df.drop_duplicates()
# Mostrar el DataFrame
print(df)

    transaction_id product_name  quantity_sold   date_sold  price  \
0             1001   Smartphone            2.0  2023-10-01  300.0
1             1002       Laptop            1.0  2023-10-02  800.0
2             1002       Laptop            NaN  2023-10-02    NaN
3             1003   Headphones            5.0  2023-10-03   50.0
4             1004   Smartwatch            3.0  2023-10-04  150.0
5             1005       Tablet            2.0  2023-10-05  400.0
6             1006       Camera            1.0  2023-10-06  500.0
7             1007      Charger           10.0  2023-10-07   15.0
8             1008        Mouse            4.0  2023-10-08   25.0
9             1009     Keyboard            3.0  2023-10-09   45.0
10            1010      Monitor            2.0  2023-10-10  200.0

   store_location                                         user_agent
0        New York                              Mozilla/5.0 (Android)
1     Los Angeles                              Mozilla/5.0 (Windows)
2             NaN  Mozilla/5.0 (Windows) # Registro duplicado con...
3         Chicago                                  Mozilla/5.0 (iOS)
4   San Francisco                              Mozilla/5.0 (Android)
5          Boston                                Mozilla/5.0 (macOS)
6           Miami                              Mozilla/5.0 (Windows)
7         Seattle                                Mozilla/5.0 (Linux)
8          Dallas                              Mozilla/5.0 (Android)
9         Houston                                                NaN
10   Philadelphia                                Mozilla/5.0 (macOS)

In [41]:
# Completar valores faltantes en 'user_agent'
df['user_agent'] = df['user_agent'].fillna('Valor Predeterminado')
print(df)

    transaction_id product_name  quantity_sold   date_sold  price  \
0             1001   Smartphone            2.0  2023-10-01  300.0
1             1002       Laptop            1.0  2023-10-02  800.0
2             1002       Laptop            NaN  2023-10-02    NaN
3             1003   Headphones            5.0  2023-10-03   50.0
4             1004   Smartwatch            3.0  2023-10-04  150.0
5             1005       Tablet            2.0  2023-10-05  400.0
6             1006       Camera            1.0  2023-10-06  500.0
7             1007      Charger           10.0  2023-10-07   15.0
8             1008        Mouse            4.0  2023-10-08   25.0
9             1009     Keyboard            3.0  2023-10-09   45.0
10            1010      Monitor            2.0  2023-10-10  200.0

   store_location                                         user_agent
0        New York                              Mozilla/5.0 (Android)
1     Los Angeles                              Mozilla/5.0 (Windows)
2             NaN  Mozilla/5.0 (Windows) # Registro duplicado con...
3         Chicago                                  Mozilla/5.0 (iOS)
4   San Francisco                              Mozilla/5.0 (Android)
5          Boston                                Mozilla/5.0 (macOS)
6           Miami                              Mozilla/5.0 (Windows)
7         Seattle                                Mozilla/5.0 (Linux)
8          Dallas                              Mozilla/5.0 (Android)
9         Houston                               Valor Predeterminado
10   Philadelphia                                Mozilla/5.0 (macOS)

In [42]:
# Convertir 'date_sold' a formato de fecha
df['date_sold'] = pd.to_datetime(df['date_sold'])
print(df)

    transaction_id product_name  quantity_sold  date_sold  price  \
0             1001   Smartphone            2.0 2023-10-01  300.0
1             1002       Laptop            1.0 2023-10-02  800.0
2             1002       Laptop            NaN 2023-10-02    NaN
3             1003   Headphones            5.0 2023-10-03   50.0
4             1004   Smartwatch            3.0 2023-10-04  150.0
5             1005       Tablet            2.0 2023-10-05  400.0
6             1006       Camera            1.0 2023-10-06  500.0
7             1007      Charger           10.0 2023-10-07   15.0
8             1008        Mouse            4.0 2023-10-08   25.0
9             1009     Keyboard            3.0 2023-10-09   45.0
10            1010      Monitor            2.0 2023-10-10  200.0

   store_location                                         user_agent
0        New York                              Mozilla/5.0 (Android)
1     Los Angeles                              Mozilla/5.0 (Windows)
2             NaN  Mozilla/5.0 (Windows) # Registro duplicado con...
3         Chicago                                  Mozilla/5.0 (iOS)
4   San Francisco                              Mozilla/5.0 (Android)
5          Boston                                Mozilla/5.0 (macOS)
6           Miami                              Mozilla/5.0 (Windows)
7         Seattle                                Mozilla/5.0 (Linux)
8          Dallas                              Mozilla/5.0 (Android)
9         Houston                               Valor Predeterminado
10   Philadelphia                                Mozilla/5.0 (macOS)

In [43]:
# Convertir 'price' a num√©rico
df['price'] = pd.to_numeric(df['price'], errors='coerce')
print(df)

    transaction_id product_name  quantity_sold  date_sold  price  \
0             1001   Smartphone            2.0 2023-10-01  300.0
1             1002       Laptop            1.0 2023-10-02  800.0
2             1002       Laptop            NaN 2023-10-02    NaN
3             1003   Headphones            5.0 2023-10-03   50.0
4             1004   Smartwatch            3.0 2023-10-04  150.0
5             1005       Tablet            2.0 2023-10-05  400.0
6             1006       Camera            1.0 2023-10-06  500.0
7             1007      Charger           10.0 2023-10-07   15.0
8             1008        Mouse            4.0 2023-10-08   25.0
9             1009     Keyboard            3.0 2023-10-09   45.0
10            1010      Monitor            2.0 2023-10-10  200.0

   store_location                                         user_agent
0        New York                              Mozilla/5.0 (Android)
1     Los Angeles                              Mozilla/5.0 (Windows)
2             NaN  Mozilla/5.0 (Windows) # Registro duplicado con...
3         Chicago                                  Mozilla/5.0 (iOS)
4   San Francisco                              Mozilla/5.0 (Android)
5          Boston                                Mozilla/5.0 (macOS)
6           Miami                              Mozilla/5.0 (Windows)
7         Seattle                                Mozilla/5.0 (Linux)
8          Dallas                              Mozilla/5.0 (Android)
9         Houston                               Valor Predeterminado
10   Philadelphia                                Mozilla/5.0 (macOS)

In [44]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [45]:
pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (0.9.0)

Ahora se usa tabulate de pandas para poder mostrar el dataframe df de forma mas ordenada  y se imprime el resultado

In [46]:
from tabulate import tabulate

# Suponiendo que el DataFrame se ha limpiado y transformado como se mostr√≥ anteriormente

# Imprimir el DataFrame como una tabla ordenada
print(tabulate(df, headers='keys', tablefmt='pretty', showindex=False))

+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+
| transaction_id | product_name | quantity_sold |      date_sold      | price | store_location |                            user_agent                            |
+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+
|      1001      |  Smartphone  |      2.0      | 2023-10-01 00:00:00 | 300.0 |    New York    |                      Mozilla/5.0 (Android)                       |
|      1002      |    Laptop    |      1.0      | 2023-10-02 00:00:00 | 800.0 |  Los Angeles   |                      Mozilla/5.0 (Windows)                       |
|      1002      |    Laptop    |      nan      | 2023-10-02 00:00:00 |  nan  |      nan       | Mozilla/5.0 (Windows) # Registro duplicado con valores faltantes |
|      1003      |  Headphones  |      5.0      | 2023-10-03 00:00:00 | 50.0  |    Chicago     |                        Mozilla/5.0 (iOS)                         |
|      1004      |  Smartwatch  |      3.0      | 2023-10-04 00:00:00 | 150.0 | San Francisco  |                      Mozilla/5.0 (Android)                       |
|      1005      |    Tablet    |      2.0      | 2023-10-05 00:00:00 | 400.0 |     Boston     |                       Mozilla/5.0 (macOS)                        |
|      1006      |    Camera    |      1.0      | 2023-10-06 00:00:00 | 500.0 |     Miami      |                      Mozilla/5.0 (Windows)                       |
|      1007      |   Charger    |     10.0      | 2023-10-07 00:00:00 | 15.0  |    Seattle     |                       Mozilla/5.0 (Linux)                        |
|      1008      |    Mouse     |      4.0      | 2023-10-08 00:00:00 | 25.0  |     Dallas     |                      Mozilla/5.0 (Android)                       |
|      1009      |   Keyboard   |      3.0      | 2023-10-09 00:00:00 | 45.0  |    Houston     |                       Valor Predeterminado                       |
|      1010      |   Monitor    |      2.0      | 2023-10-10 00:00:00 | 200.0 |  Philadelphia  |                       Mozilla/5.0 (macOS)                        |
+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+

In [47]:
# Reemplazar NaN con valores vac√≠os
df['quantity_sold'].fillna('', inplace=True)
df['price'].fillna('', inplace=True)
df['store_location'].fillna('', inplace=True)
# Imprimir el DataFrame como una tabla ordenada
print(tabulate(df, headers='keys', tablefmt='pretty', showindex=False))

+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+
| transaction_id | product_name | quantity_sold |      date_sold      | price | store_location |                            user_agent                            |
+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+
|      1001      |  Smartphone  |      2.0      | 2023-10-01 00:00:00 | 300.0 |    New York    |                      Mozilla/5.0 (Android)                       |
|      1002      |    Laptop    |      1.0      | 2023-10-02 00:00:00 | 800.0 |  Los Angeles   |                      Mozilla/5.0 (Windows)                       |
|      1002      |    Laptop    |               | 2023-10-02 00:00:00 |       |                | Mozilla/5.0 (Windows) # Registro duplicado con valores faltantes |
|      1003      |  Headphones  |      5.0      | 2023-10-03 00:00:00 | 50.0  |    Chicago     |                        Mozilla/5.0 (iOS)                         |
|      1004      |  Smartwatch  |      3.0      | 2023-10-04 00:00:00 | 150.0 | San Francisco  |                      Mozilla/5.0 (Android)                       |
|      1005      |    Tablet    |      2.0      | 2023-10-05 00:00:00 | 400.0 |     Boston     |                       Mozilla/5.0 (macOS)                        |
|      1006      |    Camera    |      1.0      | 2023-10-06 00:00:00 | 500.0 |     Miami      |                      Mozilla/5.0 (Windows)                       |
|      1007      |   Charger    |     10.0      | 2023-10-07 00:00:00 | 15.0  |    Seattle     |                       Mozilla/5.0 (Linux)                        |
|      1008      |    Mouse     |      4.0      | 2023-10-08 00:00:00 | 25.0  |     Dallas     |                      Mozilla/5.0 (Android)                       |
|      1009      |   Keyboard   |      3.0      | 2023-10-09 00:00:00 | 45.0  |    Houston     |                       Valor Predeterminado                       |
|      1010      |   Monitor    |      2.0      | 2023-10-10 00:00:00 | 200.0 |  Philadelphia  |                       Mozilla/5.0 (macOS)                        |
+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+

In [48]:

# Obtener los tipos de datos de cada columna
print("\nTipos de Datos de las Columnas:")
print(df.dtypes)

# Convertir 'quantity_sold' y 'price' a n√∫meros y calcular el promedio
quantity_sold_mean = pd.to_numeric(df['quantity_sold'], errors='coerce').mean()
price_mean = pd.to_numeric(df['price'], errors='coerce').mean()

# Mostrar el promedio de las columnas
print("Promedio de quantity_sold:", quantity_sold_mean)
print("Promedio de price:", price_mean)

Tipos de Datos de las Columnas:
transaction_id             int64
product_name              object
quantity_sold             object
date_sold         datetime64[ns]
price                     object
store_location            object
user_agent                object
dtype: object
Promedio de quantity_sold: 3.3
Promedio de price: 248.5

In [49]:
# Imprimir el DataFrame como una tabla ordenada
print(tabulate(df, headers='keys', tablefmt='pretty', showindex=False))

+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+
| transaction_id | product_name | quantity_sold |      date_sold      | price | store_location |                            user_agent                            |
+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+
|      1001      |  Smartphone  |      2.0      | 2023-10-01 00:00:00 | 300.0 |    New York    |                      Mozilla/5.0 (Android)                       |
|      1002      |    Laptop    |      1.0      | 2023-10-02 00:00:00 | 800.0 |  Los Angeles   |                      Mozilla/5.0 (Windows)                       |
|      1002      |    Laptop    |               | 2023-10-02 00:00:00 |       |                | Mozilla/5.0 (Windows) # Registro duplicado con valores faltantes |
|      1003      |  Headphones  |      5.0      | 2023-10-03 00:00:00 | 50.0  |    Chicago     |                        Mozilla/5.0 (iOS)                         |
|      1004      |  Smartwatch  |      3.0      | 2023-10-04 00:00:00 | 150.0 | San Francisco  |                      Mozilla/5.0 (Android)                       |
|      1005      |    Tablet    |      2.0      | 2023-10-05 00:00:00 | 400.0 |     Boston     |                       Mozilla/5.0 (macOS)                        |
|      1006      |    Camera    |      1.0      | 2023-10-06 00:00:00 | 500.0 |     Miami      |                      Mozilla/5.0 (Windows)                       |
|      1007      |   Charger    |     10.0      | 2023-10-07 00:00:00 | 15.0  |    Seattle     |                       Mozilla/5.0 (Linux)                        |
|      1008      |    Mouse     |      4.0      | 2023-10-08 00:00:00 | 25.0  |     Dallas     |                      Mozilla/5.0 (Android)                       |
|      1009      |   Keyboard   |      3.0      | 2023-10-09 00:00:00 | 45.0  |    Houston     |                       Valor Predeterminado                       |
|      1010      |   Monitor    |      2.0      | 2023-10-10 00:00:00 | 200.0 |  Philadelphia  |                       Mozilla/5.0 (macOS)                        |
+----------------+--------------+---------------+---------------------+-------+----------------+------------------------------------------------------------------+

In [50]:
# Eliminar filas donde 'quantity_sold' es igual a espacio vacio ''
df = df[df['quantity_sold'] != '']

# Mostrar el DataFrame despu√©s de eliminar las filas
# Imprimir el DataFrame como una tabla ordenada
print(tabulate(df, headers='keys', tablefmt='pretty', showindex=False))

+----------------+--------------+---------------+---------------------+-------+----------------+-----------------------+
| transaction_id | product_name | quantity_sold |      date_sold      | price | store_location |      user_agent       |
+----------------+--------------+---------------+---------------------+-------+----------------+-----------------------+
|      1001      |  Smartphone  |      2.0      | 2023-10-01 00:00:00 | 300.0 |    New York    | Mozilla/5.0 (Android) |
|      1002      |    Laptop    |      1.0      | 2023-10-02 00:00:00 | 800.0 |  Los Angeles   | Mozilla/5.0 (Windows) |
|      1003      |  Headphones  |      5.0      | 2023-10-03 00:00:00 | 50.0  |    Chicago     |   Mozilla/5.0 (iOS)   |
|      1004      |  Smartwatch  |      3.0      | 2023-10-04 00:00:00 | 150.0 | San Francisco  | Mozilla/5.0 (Android) |
|      1005      |    Tablet    |      2.0      | 2023-10-05 00:00:00 | 400.0 |     Boston     |  Mozilla/5.0 (macOS)  |
|      1006      |    Camera    |      1.0      | 2023-10-06 00:00:00 | 500.0 |     Miami      | Mozilla/5.0 (Windows) |
|      1007      |   Charger    |     10.0      | 2023-10-07 00:00:00 | 15.0  |    Seattle     |  Mozilla/5.0 (Linux)  |
|      1008      |    Mouse     |      4.0      | 2023-10-08 00:00:00 | 25.0  |     Dallas     | Mozilla/5.0 (Android) |
|      1009      |   Keyboard   |      3.0      | 2023-10-09 00:00:00 | 45.0  |    Houston     | Valor Predeterminado  |
|      1010      |   Monitor    |      2.0      | 2023-10-10 00:00:00 | 200.0 |  Philadelphia  |  Mozilla/5.0 (macOS)  |
+----------------+--------------+---------------+---------------------+-------+----------------+-----------------------+

In [51]:
!pip install pandas
!pip install sqlalchemy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.21)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.0)

In [52]:
import pandas as pd
from sqlalchemy import create_engine

In [53]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.21)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=7b2e5e6513593ba39e678ccb03c7225c7273fb84df06f72f7e779dccaba88bf4
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [54]:
import pandas as pd

# Supongamos que tienes un DataFrame llamado df

# Definir la consulta usando la funci√≥n query()
query = "quantity_sold >= 2.0"

# Ejecutar la consulta SQL en el DataFrame
result = df.query(query)

# Mostrar el resultado
print(result)

    transaction_id product_name quantity_sold  date_sold  price  \
0             1001   Smartphone           2.0 2023-10-01  300.0
3             1003   Headphones           5.0 2023-10-03   50.0
4             1004   Smartwatch           3.0 2023-10-04  150.0
5             1005       Tablet           2.0 2023-10-05  400.0
7             1007      Charger          10.0 2023-10-07   15.0
8             1008        Mouse           4.0 2023-10-08   25.0
9             1009     Keyboard           3.0 2023-10-09   45.0
10            1010      Monitor           2.0 2023-10-10  200.0

   store_location             user_agent
0        New York  Mozilla/5.0 (Android)
3         Chicago      Mozilla/5.0 (iOS)
4   San Francisco  Mozilla/5.0 (Android)
5          Boston    Mozilla/5.0 (macOS)
7         Seattle    Mozilla/5.0 (Linux)
8          Dallas  Mozilla/5.0 (Android)
9         Houston   Valor Predeterminado
10   Philadelphia    Mozilla/5.0 (macOS)